# Data Science Tools and Ecosystem

## Author
Matthew Brennan

This notebook is about data science tools and ecosystem.

__Objectives:__
<ul>
    <li>List common data science languages</li>
    <li>List common data science libraries</li>
    <li>Perform arithmetic expressions</li>
</ul>

Some common data science languages are: <br>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some common data science libraries are <br>
<ol>
    <li>NumPy</li>
    <li>SciKit-Learn</li>
    <li>Pandas</li>
</ol>

| Data Science Tools|
| ----------------- |
| TensorFlow        |
| Pandas            |
| Hadoop            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335